*{
font-family: arial;
}

.input{
    float: left;
    width: 49%; 
    text-align: center;
    padding-top: 10px;
    height: 100%;
}

#output{
    float: right;
    width:49%;
    background-color: rgba(0, 0, 255, 0.3);
    padding-top: 10px;
    padding-left: 2%;
    height: 103.75%;
}
textarea{
    resize: none !important;
    padding: 10px;
    font-family: monospace;
    width: 95%;
    background-color: rgba(0, 255, 0, 0.3);
    border: none;
    outline: none;
    height: 100%;
}


body, html{
    height: 100%;
    margin: -5px;
    padding: 0px;
}
