<!DOCTYPE html>
<html>
    <head>
        <title>Live HTML Editor</title>
        <meta charset="utf-8">
        <link href="/static/stylesheet.css" rel="stylesheet">
        <link rel="icon" href="static/favicon.png">
    </head>
    <body>
        <div class="input">
        <textarea id="htmlinput" rows="20" cols="60" placeholder="Enter your code here...">

        </textarea>
        </div>
        <div id="output">            
        </div>
    </div>
    </body>
    <script src="/static/scripts.js"></script>
</html>